{% extends 'base.html' %}

{% block title %}Python Code Compiler{% endblock %}

{% block content %}
<nav>
    <ul>
        <h2>Python Code Compiler</h2>
    </ul>
    <form action="/run_code" method="post">
        <ul><label for="code">Enter Python code:</label></ul>
        <br>
        <textarea id="code" name="code" rows="15" cols="100" required></textarea>
        <br>
        <input class="sign1" type="submit" value="Run Code">
    </form>
    <h3>Output:</h3>
    <pre id="output"></pre>
</nav>
<style>
    textarea {
        background-color: rgb(67, 72, 72);
        font-weight: 200;
        font-size: 24px;
        margin-left: 4.1%;
        color: #267ef1;
        border-color: #83e588;
        border-radius: 20px;
        resize: vertical;
        width: 90%;
        padding: 10px;
    }
</style>
{% endblock %}